html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Palanquin', sans-serif;
    overflow: hidden;
}

.main{
    display: flex;
    flex-direction: row;
    background-color: initial;
    width: 100%;
    height: 100%;
}

/* Left */
.left{
    width: 40%;
    height: 100%;
    background-color: initial;
}

.bg{
    position: fixed;
    margin: -2%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: auto;
}

.upper{
    width: 80%;
    height: 60%;
    background-color: initial;
    margin-left: 20%;
}

.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.presentation h1:first-of-type{
    line-height: 80px;
    color: #65ff8b;
    font-size: 40px;
}

.presentation h1:last-of-type{
    line-height: 80px;
    margin-top: -50px;
    margin-bottom: 0;
    color: white;
    font-size: 80px;
}

.bottom{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 40%;
    background-color: initial;
    justify-content: flex-end;
    margin-left: 20%;
}

.social{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.icons a{
    color: white;
}

.icons a:nth-child(1):hover{
    color: 	#3b5998;
    cursor: pointer;
}

.icons a:nth-child(2):hover{
    color: #C13584;
    cursor: pointer;
}

.icons a:nth-child(3):hover{
    color: #2867B2;
    cursor: pointer;
}

.icons a:nth-child(4):hover{
    color: #1DA1F2;
    cursor: pointer;
}

.icons a:nth-child(5):hover{
    color: #24292e;
    cursor: pointer;
}

/* Right */
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 52%;
    height: 100%;
    background-color: initial;
}

.draw{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: initial;
    align-items: center;
    justify-content: center;
}

.draw img{
    position: absolute;
    width: 50%;
    z-index: -1;
    background-repeat: no-repeat;
}

/* Menu */
.menu{
    display: flex;
    flex-direction: column;
    width: 8%;
    height: 100%;
    justify-content: center;
    background-color: #003d2b;
}

.menu ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu ul li{
    background-color: #003d2b;
}

.menu ul li.active{
    background-color: #034632;
}

.menu ul li:hover{
    background-color: #0b4e3a;
}

.menu ul li a{
    writing-mode: vertical-rl;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin: 20% 0;
    height: 20%;
}

/* Responsive */
@media (max-width: 950px) {
    .presentation h1:first-of-type{
        line-height: 80px;
        color: chartreuse;
        font-size: 20px;
    }
    
    .presentation h1:last-of-type{
        line-height: 80px;
        margin-top: -50px;
        color: white;
        font-size: 60px;
    }
}

@media (max-width: 777px) {
    .right{
        width: 32%;
    }
    .draw img{
        display: none;
    }
    .left{
        width: 60%;
    }
}

@media (max-height: 655px) {
    .menu{
        overflow-y: auto;
    }
}

/* Page about me */

.about-me{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 85%;
    margin-left: 15%;
}

.about-me h1:first-of-type{
    line-height: 80px;
    color: #ccff2c;
    font-size: 40px;
}

.about-me h1:last-of-type{
    line-height: 80px;
    margin-top: -50px;
    margin-bottom: 0;
    color: white;
    font-size: 80px;
}

.technologies{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 30%;
    margin-left: 10%;
    justify-content: space-between;
    align-items: center;
}

.technologies a{
    color: white;
}

.technologies a:nth-child(1):hover{
    cursor: pointer;
    color: #e75324;
}

.technologies a:nth-child(2):hover{
    cursor: pointer;
    color: #056cbb;
}

.technologies a:nth-child(3):hover{
    cursor: pointer;
    color: #543c7c;
}

.technologies a:nth-child(4):hover{
    cursor: pointer;
    color: #f3e31c;
}

.technologies a:nth-child(5):hover{
    cursor: pointer;
    color: #62dcfc;
}

/* Contact page */

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.contact a{
    color: white;
}

.contact a:nth-child(1):hover{
    cursor: pointer;
    color: #DD4B3E;
}

.contact a:nth-child(2):hover{
    cursor: pointer;
    color: #c71610
}

.contact a:nth-child(3):hover{
    cursor: pointer;
    color: #25D366;
}

/* Portfolio page */

.projects{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 100%;
    margin-left: 15%;
}

.columns{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.columns img{
    margin-top: 25px;
    margin-right: 5px;
}

.columns a{
    text-decoration: none;
}

.git-title{
    line-height: 80px;
    margin-bottom: 0;
    color: white;
    font-size: 40px;
}

.git-text{
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    word-break: break-all;
}
