html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
}

/* Sidebar */
#sidebar-left{
    width: 40%;
    height: 100%;
    background-color: #3a428a;
}

.presentation{
    width: 100%;
    height: 60%;
    background-color: initial;
}

.social{
    width: 100%;
    height: 40%;
    background-color: initial;
}

/* Conteúdo */
.content{
    width: 52%;
    height: 100%;
    background-color: initial;
}

.me{
    width: 100%;
    height: 70%;
    background-color: #a89f9f;
}

.resume{
    width: 100%;
    height: 30%;
}

/* Menu */
.menu{
    display: flex;
    flex-direction: column;
    width: 8%;
    height: 100%;
    background-color: #1d2d47;
    justify-content: center;
}

.menu ul{
    list-style: none;
    padding: 0;
}

.menu ul li{
    text-align: center;
}

.menu ul li a{
    writing-mode: vertical-rl;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 20% 0;
}

.menu ul li.active{
    background-color: #21324e;
}